<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="이번여행 준비됐나?" />
    <meta property="og:description" content="여행시에 필요한 준비물을 기록한 후 사용할수있다." />
    <meta property="og:image" content="../static/img/로고.png" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/1page.css" type="text/css">

    <title>준비됐나?</title>
</head>

<style>

</style>

<script>
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "http://spartacodingclub.shop/sparta_api/weather/seoul",
            data: {},
            success: function (response) {
                let temp = response['temp']
                $('#temp').text(temp)
            }
        })
    });


</script>


<body>

<div class="img-box">
    <div class="img-main">
        <div class="title-box">
            <div class="logo-box">
                <img class="img-logo" src="../static/img/로고.png">
                <p class="tem">현재기온 : <span id="temp">00.0</span>도</p>
            </div>
        </div>

        <div class="btn-div">
            <div>
                <button class="btn" id="cam"><img onclick="location.href='/2PAGE.html'" src="/static/img/텐트.png">
                </button>
                <p class="name">글램핑, 캠핑</p>
            </div>

            <div>
                <button class="btn" id="fas" onclick="location. href='/2PAGE.html'"><img src="/static/img/페스티벌.png"></button>
                <p class="name">페스티벌</p>
            </div>

            <div>
                <button class="btn" id="trip" onclick="location. href='/2PAGE.html'"><img src="/static/img/여행.png"></button>
                <p class="name">여행</p>
            </div>

            <div>
                <button class="btn" id="hik" onclick="location. href='/2PAGE'"><img src="/static/img/등산.png"></button>
                <p class="name">등산, 외박</p>
            </div>

            <div>
                <button class="btn" id="water" onclick="location. href='/2PAGE'"><img src="/static/img/물놀이.png">
                </button>
                <p class="name">물놀이</p>
            </div>
        </div>

    </div>


</div>

</body>

</html>