<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/js/1PAGE.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>준비됐나?</title>


    <style>

    </style>

    <script>

    </script>
</head>

<body>

    <div class="img-box">
        <div class="img-main">
            <div class="info-btn-div" data-link="#section1">
                <button type="button" class="info-btn">사용방법</button>
            </div>
            <div class="title-box">
                <div class="logo-box">
                    <img class="img-logo" src="../static/img/로고.png">
                    <p class="tem">현재기온 : <span id="temp">00.0</span>도</p>

                </div>

            </div>



            <div class="btn-div">
                <div id="navMBtn">
                    <a class="menu-trigger" style="cursor:pointer;">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <!-- <div class="list-group"> -->
                    <ul class="list-group">
                        <li class="list-group-item" onclick="location.href='/2PAGE'"
                            style="display:flex; justify-content: space-between;"><img style="width:30px;"
                                src="/static/img/텐트.png"><span style="margin-left:30px;">글램핑, 캠핑</span></li>
                        <li class="list-group-item" onclick="location.href='/2PAGE'"
                            style="display:flex; justify-content: space-between;"><img style="width:30px;"
                                src="/static/img/페스티벌.png"><span style="margin-left:30px;">페스티벌</span></li>
                        <li class="list-group-item" onclick="location.href='/2PAGE'"
                            style="display:flex; justify-content: space-between;"><img style="width:30px;"
                                src="/static/img/여행.png"><span style="margin-left:30px;">여행</span></li>
                        <li class="list-group-item" onclick="location.href='/2PAGE'"
                            style="display:flex; justify-content: space-between;"><img style="width:30px;"
                                src="/static/img/등산.png"><span style="margin-left:30px;">등산, 외박</span></li>
                        <li class="list-group-item" onclick="location.href='/2PAGE'"
                            style="display:flex; justify-content: space-between;"><img style="width:30px;"
                                src="/static/img/물놀이.png"><span style="margin-left:30px;">물놀이</span></li>
                    </ul>
                    <!-- </div> -->
                </div>

                <div>
                    <button class="btn" id="cam"><img onclick="location.href='/2PAGE'" src="/static/img/텐트.png">
                    </button>
                    <p class="name">글램핑, 캠핑</p>
                </div>

                <div>
                    <button class="btn" id="fas" onclick="location. href='/2PAGE'"><img
                            src="/static/img/페스티벌.png"></button>
                    <p class="name">페스티벌</p>
                </div>

                <div>
                    <button class="btn" id="trip" onclick="location. href='/2PAGE'"><img
                            src="/static/img/여행.png"></button>
                    <p class="name">여행</p>
                </div>

                <div>
                    <button class="btn" id="hik" onclick="location. href='/2PAGE'"><img
                            src="/static/img/등산.png"></button>
                    <p class="name">등산, 외박</p>
                </div>

                <div>
                    <button class="btn" id="water" onclick="location. href='/2PAGE'"><img src="/static/img/물놀이.png">
                    </button>
                    <p class="name">물놀이</p>
                </div>
            </div>
        </div>


        <div class="info-img" id="section1">
            <img src="/static/img/step1.png">
            <img src="/static/img/step2.png">
            <img src="/static/img/step3.png">
            <img src="/static/img/step4.png">
        </div>

    </div>



    <script type="text/javascript" src="../static/js/1PAGE.js"></script>
</body>

</html>